#main-links {
  text-align: center;
  background-color: #b0e0e6;
  word-spacing: 15px;
  font-size: 14px;
  font-family: "Georgia", serif;
}

/*
  ===============================
     IMAGES
  ===============================
*/

img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

/*
  ===============================
     BODY
  ===============================
*/

body {
    background-color: #028482
}

p {
  font-size: 18px;
}

ul {
  font-family: "Georgia", serif;
}


/*
  ===============================
     HEADERS
  ===============================
*/

h1 {
    padding-top: -20px;
    font-size: 64px;
    text-align: center;
    font-family: verdana, sans-serif;
}

h2 {
    background-color: #b0e0e6;
    font-family: "Georgia", serif;
}

h3 {
    font-family: "Georgia", serif;
}


