<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Whitney's Website</title>
      <style>
        body {
          background-color: #028482
        }
        h1 {
          padding-top: -20px;
          font-size: 64px;
          text-align: center;
        }
        #main-links {
          text-align: center;
          background-color: #b0e0e6;
          word-spacing: 15px;
          font-size: 14px;
          font-family: "Georgia", serif;
        }

        img {
          display: block;
          margin-left: auto;
          margin-right: auto
        }
        li {
          font-family: "Georgia", serif;
        }
      </style>
    </head>
    <body>
      <h2 id="main-links">Home
        <a href="#about-me-header">AboutWhit</a>
        <a href="#portfolio-header">Portfolio</a>
        <a href="#contact-info-header">Contact</a></h2>

      <img src="https://avatars3.githubusercontent.com/u/8561426?v=3&s=460" alt="cutest girl ever" width="350"/>
      <h1><font face="verdana">Whitney</font></h1>

      <h2 id="about-me-header"><em><u><font face="Georgia, serif">About Whit</font></u></em></h2>

      <p></p>

      <h3>Hobbies</h3>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

      <h2 id="portfolio-header"><em><u><font face="Georgia, serif">Portfolio</font></u></em></h2>
      <h3>Projects</h3>
        <ul>
          <li><font face="Georgia, serif">Enigma</font></li>
          <li><font face="Georgia, serif">Sales Engine</font></li>
          <li><font face="Georgia, serif">Robodoku</font></li>
        </ul>

      <h2 id="contact-info-header"><em><u><font face="Georgia, serif">Contact</font></u></em></h2>

    </body>
  </html>

