<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

    <head>
        <meta charset="utf-8">
        <title>Whitney Hiemstra | Nurse & Web Developer</title>
        <link rel="stylesheet" href="css/my_style.css">
    </head>

    <body>
      <section class="background1">
        <h2 id="main-links">
          <a id="link-a" href="#about-me-header">AboutWhit</a>
          <a id="link-b" href="#contact-info">Contact</a>
        </h2>
      </section>

      <br>
      <br>

      <section class="background2">
        <img src="https://avatars3.githubusercontent.com/u/8561426?v=3&s=460" alt="cutest girl ever" width="300"/>
        <h1><font face="verdana">Whitney</font></h1>
      </section>

      <section class="background3">
        <h2 id="about-me-header"><em><u><font face="Georgia, serif">About Whit</font></u></em></h2>

        <p>I enjoy the simple things in life. The power of a good laugh, jamming out to an old mixed-tape, seeing other people happy...
          I very much enjoy helping others. I worked as a Neuro ICU nurse for about 2-3 years and then switched to pediatrics for another 2 years.
          I really enjoyed both fields, but found I couldn't stop bringing the work home with me. I then realized I could help people in other ways
          and after doing some soul-searching, re-evaluating my interests, and reviewing what qualities I'm strong at, programming seemed to fit
          the bill. It also helped that my fiance is a programmer and could give me some great insight into the career. My interest in the career
          grew rapidly! I love to see what I can accomplish and what I can build. It's amazing to see some of the things you can do with programming.</p>

        <p>Aside from career choices, I moved to Denver Colorado from Phoenix Arizona towards the end of 2012. I had lived in Arizona for the previous
          20 years and was dying for a change in scenery. I love the outdoors and being active, but it was difficult to be as active as I wanted to be
          when it's 120 degrees outside for 8 months of the year... I randomly decided on Denver and could not have picked a better city. I love the
          culture, I love the scenery, and I met my future hubby just 6 weeks after moving here. I've listed some of my favorite hobbies below,
          which I think gives a great summary as to why I love Denver and why I might love programming.
        </p>
      </section>
      <h3>Hobbies</h3>
        <ul>
          <li>Hiking</li>
          <li>Camping</li>
          <li>Rafting</li>
          <li>Video/Board Games</li>
          <li>Beer!</li>
          <li>Painting</li>
        </ul>

        <br>
        <br>

      <div class="contact-icons" id="contact-info">
        <a><img src="images/blog.png" alt="Blog Logo" class="icons"></a>
        <a href="mailto:whitcolorado@gmail.com"><img src="images/gmail.png" alt="Gmail Logo" class="icons"></a>
        <a href="https://twitter.com/whit_hiemstra"><img src="images/twitter.png" alt="Twitter Logo" class="icons"></a>
        <a href="https://www.facebook.com/whitney.hiemstra.9"><img src="images/facebook.png" alt="Facebook Logo" class="icons"></a>
        <a href="https://www.linkedin.com/in/whiemstra"><img src="images/linkedin.png" alt="LinkedIn Logo" class="icons"></a>
      </div>

      <br>
      <br>
      <br>
      <br>
      <footer>
        <p id="footer">&copy; 2015 Whitney Hiemstra</p>
      </footer>
    </body>
  </html>

