<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Whitney's Website</title>
      <style>
        body {
          background-color: #028482
        }
        h1 {
          font-size: 64px;
          text-align: center;
          font-style: oblique;
        }
        #main-links {
          text-align: center;
          background-color: #b0e0e6;
          word-spacing: 15px;
          font-size: 14px;
          font-family: "Georgia", serif;
        }

        h2 {
          font: sans-serif;
        }
      </style>
    </head>
    <body>
      <h2 id="main-links">Home  AboutWhit  Portfolio Contact</h2>

      <h1><font face="verdana">Whitney</font></h1>

      <h2><em><u><font face="Georgia, serif">About Whit</font></u></em></h2>

      <p></p>

      <h3>Hobbies</h3>
        <ul>
          <li></li>
          <li>Daemon</li>
          <li>Angel</li>
        </ul>

      <h2><em><u><font face="Georgia, serif">Portfolio</font></u></em></h2>
      <h3>Projects</h3>
        <ul>
          <li>Enigma</li>
          <li>Sales Engine</li>
          <li>Robodoku</li>
        </ul>

    </body>
  </html>

